/* Le body prend toute la taille disponible avec viewport */
body {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    display:flex;
    flex-direction:column;
    align-items:center;
}

div.row {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
}

div.cell {
    background: url("../images/pin_gris.svg") no-repeat;
}
