/* Le body prend toute la taille disponible avec viewport */
body {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    align-items:left;
}

div.default_background {
    background: url("../images/pin_gris.svg") 32px 32px;
    width:32px;
    height:32px;
}
