/* Le body prend toute la taille disponible avec viewport */
body {
    display:flex;
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url("../images/pin_gris.svg") repeat 20px 20px;
}
